.App {
  text-align: center;
}

.containerForm{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 20vh;
  background-color: rgba(51, 189, 124, 0.815);
}

.containerCard{
  display: inline-block;
  padding: 20px;
  background-color: rgba(94, 160, 235, 0.918);
  margin: 10px;
  width: 20%;
  border-radius: 5px;
  
}

.buttonsCard{
  display: flex;
  justify-content: space-around;
  
}

